body
{
font-family: Arial;
}
.main
{
    display:flex;
    justify-content: center;
    background-color: grey;
    height: 580px;
}
.side_bar
{
    background-color: aqua;
    
    
    min-width: 20%;
    min-height: 100%;
    padding: 0px 0px 0px 2px;
    display: flex;
    flex-direction: column;
}
.btun
{
    display: flex;
    flex-direction: column;
    min-height: 10%;
    display: flex;
}
.menu
{
    
    height: 90%;
    width: 100%;
    padding-right: 70%;
    padding-left:11% ;
    border-style: none;

    
    
    background-color: transparent;
    cursor: pointer;
    transition: 300ms;
}
hr{
    height: .1px;
}
.menu:hover
{
    transition: 300ms;
    background-color: rgb(1, 196, 196);
}
.view
{
    background-color: rgb(255, 255, 255);
    
    min-width: 80%;
    max-height: 100%;
}

.add_btn
{
    padding: 4px 9px;
    border-style: none;
    border-radius: 7px;
    font-size: medium;
    background-color: rgb(1, 179, 239);
    color:#0c0c0d;
    cursor: pointer;
}
.add_btn:hover
{
    transition: 500ms;
    color: white;
    background-color: #000000;
    box-shadow: rgba(0, 0, 0, 0.8) 0 0 6px 3px;
}
/*-------------Schemes---------------------*/
.h 
{
    padding: 10px;
    font-family: Arial;
    font-size: 20px;
}
.table
{
    border: 2px;
    border-style: solid;
    border-color: green;

   /* height: 500px;*/
    max-width: 1fr;
    padding: 0% 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.list
{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    overflow-y:scroll;
}
.schemes
{   
    display: flex;
    /*flex-direction: column;*/
    border: 1px;
    border-style: solid;
    border-color: red;

    width: 800px;
     
}


/*-------------Schemes---------------------*/