body
{
font-family: Arial;
}
.main
{
    display:flex;
    justify-content: center;
    background-color: grey;
    height: 700px;
}
.side_bar
{
    background-color: aqua;
    
    
    min-width: 20%;
    min-height: 100%;
    padding: 0px 0px 0px 2px;
    display: flex;
    flex-direction: column;
}
.btn
{
    display: flex;
    flex-direction: column;
    min-height: 5%;

}
.menu
{
    
    height: 100%;
    width: 100%;
    padding-right: 70%;
    padding-left:11% ;
    
    
    background-color: transparent;
    cursor: pointer;
    transition: 300ms;
}
button:hover
{
    transition: 300ms;
    background-color: rgb(1, 196, 196);
}
.view
{
    background-color: orange;
    
    
    min-width: 80%;
    max-height: 100%;
}