body
{
   background-color:#ffffff;
    font-family: Arial;
    margin: 2px;
}
/*----------nav bar(start)---------------*/
header
{
    background:#1c1c1c;
    border-radius: 15px;
    margin: 0px;
}
nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0%;
}
a
{
  text-decoration: none; 
  color: #e14177;
}
a:hover
{
    transition: 600ms;
    color: #ffffff;
    text-decoration: underline;
}
.navlinks
{
    list-style: none;
    display: flex;
    padding-right: 26px;
    gap: 0px 27px;
}
li
{
 font-size: 17px;
 cursor: pointer;   
}
.signup
{
    padding: 4px 9px;
    border-style: none;
    border-radius: 7px;
    font-size: medium;
    background-color: rgb(1, 179, 239);
    color:#0c0c0d;
    cursor: pointer;
}
.signup:hover
{
    transition: 500ms;
    background-color: #ffffff;
    box-shadow: rgba(255, 255, 255, 0.8) 0 0 6px 3px;
}
/*----------nav bar(end)---------------*/

/*----------Landing page(start)---------------*/

.bg-image
{
    position: absolute; 
            
            width: 99%;
            padding: 0%;
            min-height: 800px;  
            background-image: url(Capture3.JPG); 
            background-position: center; 
            align-self: center;
            filter: blur(8px);
            z-index: -1;
}

.landing-pg
{
    margin-top: 05px;
    display: flex;
    align-items: center;  
    justify-content: space-around;
    max-height: 780px;  
    background-color: rgba(0, 0, 0, 0.422);
    
    border: 3px;
    border-style: solid;
    border-radius: 10px;
}

.content_l
{ 
    display: flex;
    flex-direction: column;
    border: 2px;
}

.text-container
{
    font-family: Arial;
    font-size: 56px; 
    font-weight: bold;
    max-width: 700px;
    text-align: left;
    color: #ffffff;
    
    margin-bottom: 30px;
    
}
.p1
{
    margin: 0%;
    margin-left: 2%;
}
.p2
{
    font-size: 18px;
    font-weight: lighter;
    margin-top: 0%;
    margin-left: 2%;
}
.learn
{
    padding: 4px 9px;
    border-style: none;
    border-radius: 7px;
    background-color: rgb(225, 65, 119);
    color:#000000;
    margin-left: 2%;
    
    cursor: pointer;
    font-size: 35px;
    padding: 2px 10px;
    transition: 400ms;
}
.learn:hover
{
    transition: 500ms;
    background-color: #9e2f54;
    color: rgb(255, 255, 255);
    
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px, -4px) ;
    transform: scale(105%);
    border: 1.2px;
    border-color: #ffffff;
    border-style: solid;
    
}
#singnup
{
    font-size: 35px;
    color: #000000;
    margin-left: 10px;
    margin-top: 10px;   
    padding: 2px 10px;
    transition: 400ms;
}
#singnup:hover
{
    transition: 500ms;
    background-color: #01427a;
    color: rgb(255, 255, 255);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px, -4px);
    transform: scale(105%);
    border: 1.2px;
    border-color: #ffffff;
    border-style: solid;
}
.content_r
{
    justify-content: center;
    display: flex;
    border: 3px;
}
.scene-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 619px;
    min-width: 630px;
    transition: 600ms;
    
}
.scene-container:hover
{
    transition: 600ms;
    transform: scale(105%);
}

/*----------Landing page(end)---------------*/

/*----------Snippets page(start)---------------*/

.snippet_container
{
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin-top: 05px;
    background-color:  #010e1a;
    ;
}
.snipet_1
{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    max-width: 76%;
    flex-direction: row;
}
.snipet_2
{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    max-width: 76%;
}

.snipet2_extra
{
    display: none;
    justify-content: space-between;
    margin: 10px;
    max-width: 76%;
}

.snipet_3
{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    max-width: 76%;
}
@media(max-width: 1200px)
{
    .snipet_1,.snipet_3
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .snipet_2
    {
        display: none;
    }
    .snipet2_extra
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.snipet_img
{
    z-index: 0;
    max-width: 300px;
    max-height: 300px;
    margin: 10px;
   -webkit-filter: drop-shadow(20px 20px 7px #6dcffb);
   filter: drop-shadow(10px 10px 25px #7193a3);
    
}
.snipet_img2
{
    width: 100%;
    height: 100%;
}
.img-container
{
    display:block;
    position:relative;
}
.img-container::before
{
    display:block;
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    -moz-box-shadow:inset 0px 0px 6px 6px #010e1a;
    -webkit-box-shadow:inset 0px 0px 6px 6px #010e1a;
    box-shadow:inset 0px 0px 10px 25px #010e1a;
    opacity: 100%;
}

.text_s1,.text_s2,.text_s3,.text2_extra
{
    max-width: 100%;
    margin: 10px;
    font-size: 17px;
    color: #ffffff;
    text-align:right ; 
    align-self: center;   
}
.text_s2
{
    text-align:left ; 
}

.text2_extra
{
    text-align:left ; 
}

@media(max-width:1200px) 
{
    .text_s1,.text_s3,.text2_extra
    {
        text-align:center;
    }
}
/*----------Snippets page(end)-------------------*/

/*----------------Footer(start)------------------*/

footer {
    position:relative;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    
}

.footer-distributed {
    background-color: #1c1c1c;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 5px;
    border-radius: 10px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'sans-serif', normal;
    margin: 0;
}


.footer-distributed h3 span {
    color: #e14177;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #6dcffb;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #01b3ef;
}

.footer-links a:hover {
    color: #01b3ef;
}

@media (max-width: 1270px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}   
/*------------------Footer(end)------------------*/