body
{
    font-family: Arial;
    background-image: url(588-1020x612.jpg);
    /*background-image: url(3DPaths1.jpg);*/
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 1s;
}    
.bdy
{
    height: 100%;
    
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*@media(max-width:1600px)
{
    body{
        background-size: 150%;
        background-position: center;
        transition: all 1s;
    }
}
@media(max-width:1280px)
{
    body{
        background-size: 100%;
        background-position: center;
    }
}*/
.container
{
    border: 1px;
    border-style: solid;
    border-radius: 15px;
    border-color: white;

    display: flex;
    flex-direction: column;
    max-height: 100%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0.0% 0%;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    
}

.form-title
{
    color:white;
}
p{
    margin: 0%;
}
a:hover
{
    cursor: pointer;
}
.main-user-info
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 11px;
    padding: 0 15px;
}
.user-input-box
{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    gap: 2px;
    color: white;
}
input
{
    border: 1px;
    border-style: solid;
    border-radius: 15px;
    border-color: white;

    background: transparent;
    padding: 5px 13px;
    font-size: 15px;
}
input::placeholder
{
    color: white;
    opacity: .7;
}
.submit-btn
{
    color: black;
    text-align: center;
    padding: 7px 40px;
    background-color: white;
    transition: 400ms;
}
.submit-btn:hover
{
    transition: 400ms;
    transform: translate(0px, -4px) ;
    transform: scale(103%);
    color: white;
    background-color: black;
    cursor: pointer;
}