body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(3DPaths1.jpg);
    max-width: 99%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 1s;
}    

@media(max-width:1600px)
{
    body{
        background-size: 150%;
        background-position: center;
        transition: all 1s;
    }
}
@media(max-width:1280px)
{
    body{
        background-size: 200%;
        background-position: center;
    }
}
.container
{
    border: 1px;
    border-style: solid;
    border-radius: 15px;
    border-color: white;

    display: flex;
    flex-direction: column;
    max-height: 100%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    padding: 2%;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
}
.form-title
{
    color:white;
}
.main-user-info
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 50px;
}
.user-input-box
{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 3px;
    color: white;
}
input
{
    border: 1px;
    border-style: solid;
    border-radius: 15px;
    border-color: white;

    background: transparent;
    padding: 10px 20px;
    font-size: large;
}
input::placeholder
{
    color: white;
    opacity: .7;
}
.submit-btn
{
    color: black;
    text-align: center;
    padding: 10px 50px;
    background-color: white;
    transition: 400ms;
}
.submit-btn:hover
{
    transition: 400ms;
    transform: translate(0px, -4px) ;
    transform: scale(105%);
    color: white;
    background-color: black;
}